html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    overflow: hidden;
}

body {
    margin-top: 4rem;
}

label {
    display: block;

    width: 100%;
    border: none;
}

input,
textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: .5rem .2rem;

    font-family: monospace;
    font-size: large;

    outline: none;
    border: none;
}

textarea {
    resize: none;
}

.input-container {
    margin: 0 5%;

    border-style: solid;
    border-color: black;
    border-width: .2rem;
    border-left-width: 1rem;
}

.input-container > * {
    border-bottom-width: .15rem;
    border-bottom-style: solid;
    border-bottom-color: black;
}

.input-container > *:last-child {
    border-bottom: none;
}

.code {
    font-family: monospace;
}

#warning {
    position: absolute;
    top: 100px;
    left: 100px;
    max-width: 830px;
    z-index: 100;
    background-color: white;
    font-size: initial;
    display: none;
}

#warning ul {
    margin-top: 0;
    margin-bottom: 15px;
}

#warning li {
    padding-bottom: 15px;
}
